<% content_for :title, "Главная" %>

<h1><%= link_to "Authors (Авторы)", authors_path, style: "color: inherit; text-decoration: inherit;" %></h1>
<h1><%= link_to "Genres (Жанры)", genres_path, style: "color: inherit; text-decoration: inherit;" %></h1>
<h1><%= link_to "Books (Книги)", books_path, style: "color: inherit; text-decoration: inherit;" %></h1>