<div style="margin-top: 1.3em;">
  <%= link_to "Главная", books_path, class: "web_path" %> / <span class='web_path'>Добавление</span>
</div>

<% content_for :title, "Новая книга" %>

<h1>Добавить книгу</h1>

<%= render "form", book: @book %>