<div style="margin-top: 1.3em;">
  <%= link_to "Главная", home_path, class: "web_path" %> / <%= link_to "Книги", books_path, class: "web_path" %> / <%= link_to @book.title, @book, class: "web_path" %> / <span class='web_path'>Чтение</span>
</div>

<div style="margin-top: 3%">
    <span><%= @pdf_text %><span>
</div>